<!DOCTYPE html>
<html lang="" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Slim Landing - Free Bootstrap Templates and Themes | ReactThemes</title>
    <meta name="description" content="Free Bootstrap Themes and Templates">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <div id="loader-container"></div>
    <div class="main">
      <div class="container">
        <header>
          <div class="row">
            <div class="col-xs-4">
              <div class="logo"><a href="http://reactthemes.com/bootstrap-templates/" target="_blank">Slim</a></div>
            </div>
            <div class="col-xs-8 social-accounts">
              <ul class="list-inline pull-right">
                <li><a href="https://twitter.com/reactthemes" target="_blank"><span class="ti-twitter-alt"></span></a></li>
                <li><a href="https://www.facebook.com/reactthemes" target="_blank"><span class="ti-facebook"></span></a></li>
                <li><a href="https://plus.google.com/+Reactthemes" target="_blank"><span class="ti-google"></span></a></li>
              </ul>
            </div>
          </div>
        </header>
        <div class="hero text-center">
          <h1 class="hero-title">Conquer the world with one page.</h1>
          <p>Responsive Bootstrap templates and themes with HTML5 and CSS3.</p>
          <div class="hero-buttons"><a href="https://github.com/reactthemes/bootstrap-templates" target="_blank" class="btn btn-round btn-lined btn-lg">Github Repo</a>
            <div class="space"></div><a href="http://reactthemes.com/bootstrap-templates/" target="_blank" class="btn btn-round btn-lined btn-lg">Get Started <span class="ti-angle-right"></span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="announcement">
      <div class="container text-center">
        <p> <span class="badge badge-primary">News</span>Check out the latest free Bootstrap templates and themes!<a href="http://reactthemes.com/bootstrap-templates/" target="_blank" class="announcement-link">Learn more <span class="ti-angle-double-right"></span></a></p>
      </div>
    </div>
    <div class="features">
      <div class="container">
        <h3 class="text-center">Features</h3>
        <div class="row">
          <div class="col-md-4 text-center"><a href="javascript:;" class="ti-money feature-icon"></a>
            <h4>Free</h4>
            <p>100% free for personal and commercial usage.</p>
          </div>
          <div class="col-md-4 text-center"><a href="javascript:;" class="ti-mobile feature-icon"></a>
            <h4>Responsive</h4>
            <p>Mobile-friendly design made it accessible on any devices.</p>
          </div>
          <div class="col-md-4 text-center"><a href="javascript:;" class="ti-support feature-icon"></a>
            <h4>Support</h4>
            <p>You can easily reach me via the Github repository.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-center"><a href="javascript:;" class="ti-wand feature-icon"></a>
            <h4>Minimal</h4>
            <p>Simple is remarkable, elegant minimalist design.</p>
          </div>
          <div class="col-md-4 text-center"><a href="javascript:;" class="ti-face-smile feature-icon"></a>
            <h4>Easy</h4>
            <p>Built with popular Bootstrap, easy to get up and running.</p>
          </div>
          <div class="col-md-4 text-center"><a href="javascript:;" class="ti-heart feature-icon"></a>
            <h4>Love</h4>
            <p>All templates and themes are made with love by ReactThemes.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="action-call text-center"><span>Build with your favorite Bootstrap, get up and running in minutes</span><a href="http://reactthemes.com/bootstrap-templates/" target="_blank" class="btn btn-primary btn-round btn-lg">Get Started<span class="space"></span><span class="ti-angle-right"></span></a></div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-6"><span>© <span id="copyright_year"></span></span></div>
          <div class="col-xs-6 text-right designed"><span>Designed by <a href="http://reactthemes.com/" target="_blank">ReactThemes</a></span></div>
        </div>
      </div>
    </footer>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>